.form {
    display: flex;
    flex-direction: column;
}
.input {
    background: #ddd9d9;
    border: none;
    border-radius: 20px;
    box-shadow: inset 7px 7px 14px #b6b2b2, inset -7px -7px 14px #e4e1e1;
    color: rgb(51, 51, 51);
    flex-grow: 1;
    font-size: 1rem;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 20px;

    
    &:focus {
        background: #ddd9d9;
        box-shadow: inset -7px -7px 14px #b9b6b6, inset 7px 7px 14px #f1ecec;
    }
}
