h2 {
    font-size: 1.5rem;
}

h3 {
    background: linear-gradient(315deg, #d1cdcd, #c3bfbf);
    border-radius: 17px;
    box-shadow: -10px -10px 20px #9e9e9e, 10px 10px 20px #bababa;
    font-size: 4vh;
    margin: 1vh;
    padding: 1vh;
    margin-bottom: 2vh;
    text-align: center;
}

.card-grid {
    align-items: center;
    align-self: stretch;
    column-gap: 2vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto);
    justify-items: stretch;
    row-gap: 2vh;
}

.card {
    align-content: center;
    align-items: center;
    background: #c4c0c0;
    box-shadow: -5px -5px 10px #909090, 5px 5px 10px #c8c8c8;
    display: flex;
    flex-direction: column;
    justify-content: center;


    h5 {
        color: $primary;
        flex: 2;
        font-size: 1.8vh;
        margin-top: 0.5vh;
        padding: 0.5vw;
        text-align: center;
    }

    img {
        margin-top: 1vh;
        height: 25vh;
    }
}

.container {
    flex-grow: 1;
    margin: 3vh;
    min-height: 100%;
    padding: 2vh;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5vh;
}

.container-image {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    z-index: 0;

    img {
        height: 240vh;
    }
}

.header {
    align-items: center;
    background: linear-gradient(225deg, #3f3f3f, #747070);
    border-radius: 0 0 20px 20px;
    box-shadow: -5px 5px 0px #4b4a4a, 5px -5px 0px #5f5959;
    display: flex;
    flex-direction: column;
    position: sticky;
    text-align: center;
    top: 0px;


    h1 {
        color: #eee;
        padding: 0.5rem;
        letter-spacing: 4px;
        text-shadow: 3px 2px 3px #979797;
    }
}